/* house reg form css*/

.wrapper {
    width: 100%;
    margin: 20px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
  }
  
  .wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #14213d;
    text-transform: uppercase;
    text-align: center;
  }

  .form {
    width: 50%;
    margin: 0 auto;
  }
  
  
  .inputField {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .inputField label {
    width: 200px;
    color: #14213d;
    margin-right: 10px;
    font-size: .90rem;
    font-weight: bold;
  }
  
  .inputField .input,
  .inputField .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .inputField .textarea {
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .inputField .input:focus,
  .inputField .textarea:focus {
    border: 1px solid #fca311;;
  }
  
  .inputField .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background:  #fca311;;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .inputField .btn:hover {
    background: #fec107;
    color: #14213d;
  }
  
  .inputField:last-child {
    margin-bottom: 0;
  }

  /*Table*/
  .dataTable {
    width: 50%;
    margin: 0 auto;
  }
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  /* Check box*/
 .checkBox input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }
  
 .checkBox input[type=checkbox] {
    display: none;
  }
  
 .checkBox input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
 .checkBox input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
 .checkBox input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  }
  
 .checkBox input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
 .checkBox input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }
  /* checkbox end*/
  @media (max-width: 870px) {    
  .wrapper {
    width: 100%;
  }
  .form {
    width: 100%;
    margin: 0 0;
  }
  .wrapper .form .inputField {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputField label {
    margin-bottom: 5px;
  }
  .wrapper .form .inputField.terms {
    flex-direction: row;
  }

  .dataTable {
    width: 95%;
    margin: 0 auto;
  }
  }


