* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  margin-top: 0.5rem;
  width: 2rem;
}
body{
  background-color: #e5e5e5;
}

header {
  height: 5rem;
  width: 100%;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  color: #fff;
  background-color: #14213d;
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}
nav ul {
  list-style-type: none;
}
nav ul a{
  text-decoration: none;
  color: #fff;
}
.navDiv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.navDiv svg{
  width: 2.5rem;
  position: relative;
  left: -2rem;
  top: -.2rem;
}
.navLink {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.side {
  display: block;
  position: absolute;
  top: 8rem;
  left: 0;
  height: 100%;
  width: 15%;
  background-color: #fca311;
  padding-top: 2rem;
  
}
.side .navContainer {
  height: 70%;
  width: 90%;
  text-align: center;
  column-gap: .1rem;
  margin: 0 auto;
}
.side .navContainer a{
  text-decoration: none;
  color: #14213d;
}
.navTitle {
  color: #14213d;
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem auto 2rem;
  padding:0 0 .5rem ;
  border-bottom: #14213d 2px solid;
}
.nav__name {
  font-size: 1.2rem;
  padding: 0.7rem;
}
.nav__name:hover {
  background-color: #14213d;
  color: #fff;
  border-radius: 0.5rem;
}

.nav__link{
  display: block;
  margin: 2rem 0;
}
.collapse {
  color: #14213d !important;
  width: 90%;
  position: relative;
  font-size: 1.1rem;

}
.collapseTitle {
  display: flex;
  text-align: center;
  align-self: center;
  justify-content: center;
  margin: 0;
}
.collapseTitle svg{
  position: relative;
  top: -.7rem;
  right: -1rem;
}
.collapse__menu { 
  position: relative;
  top: -1rem;
  height: 5rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 1rem; 
}

.collapse_sublink {
  color: #fff !important;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  width: 50%;
  padding: .2rem;
  border-radius: .5rem;
}
.collapse_sublink:hover{
  background-color: #757575;
  color: #14213d;
}

/* js resize css start*/
.collapseBg{
  background-color: #14213d !important;
  color: #fca311;
  height: auto;
  border-radius: 1rem;
  width: 90%;
  position: relative;
  left: -0.5rem;
  margin: 0 auto .5rem;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.collapseBgOther{
  background-color: #14213d !important;
  color: #fca311;
  border-radius: 1rem;
  width: 90%;
  height: 10rem;
  position: relative;
  left: -0.5rem;
  margin: 0 auto .5rem;
  font-size: 1.2rem;
  padding: 0.7rem;
}
.collapse_sublinkOther {
  color: #fff !important;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  padding: .2rem;
  border-radius: .5rem;
}
.collapse_sublinkOther:hover{
  background-color: #757575;
  color: #14213d;
}
/* js resize css end*/

main {
  width: 100%;
  height: 100vh;
  display: flex;  
  flex-direction: column;
}

.hidden{
  display: none;
}

@media (max-width: 1024px) {
  .nav__name {
    font-size: 1rem;
  }
  .side .navContainer {
    height: 55%;
    width: 100%;
  }
}
@media (max-width: 870px) {
  header {
    display: none;
  }
  nav{
    font-size: 1rem;
  }
  .navDiv{
    justify-content: space-between;
  }
  .navDiv svg{
    width: 2rem;
    position: relative;
    left: 0;
    top: 0;
  }
  .navLink {
    margin-top: .8rem;
    width: 70%;
  }
  .navTitle{
    font-size: 1.3rem;
    margin: 1rem auto 1rem;
  }
  .nav__name{
    font-size: 1rem;
    padding: 0.4rem;
  }

  .side {
    top: 3rem;
    width: 50%;
    padding-top: 0;
  }

  .side .navContainer {
    height: 90%;
  }

  main{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
  }
  
}
